body {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
}

li {
    display: inline;
}
.main {
    display: flex;
   
    justify-content: center;
}
.second {
    width: 30%;
    
}
.link li {
    display: block;
}
.link ul {
    padding: 0;
    position: relative;
    right: 15px;
}
nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 50px;
}
.logo {
    line-height: 40px;
    font-size: 40px;
    
    margin-left: 120px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    color: #FF5678;
}
hr {
    width: 90%;
    border-color: #d3d3d37d;
}
.link li span {
    position: relative;
    bottom: 10px;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}
.width {
    width: 100%;
}
.margin {
    margin-top: 50px;
   
}
nav ul {
    float: right;
    margin-right: 90px;
}
nav ul li {
    margin: 020px;
}
nav a {
    text-decoration: none !important;
    font-family: 'Work Sans', sans-serif;
    color:#FF5678;
}
.link {
    position: relative;
    right: 55px;
}
.copyright {
    background-color: #FF5678;
    text-align: center;
}
.copyright p {
    padding: 20px 0;
    color: white;
    font-size: 20px;
}
.conn {
    padding: 0 200px 0 10px;
}
.mar {
   position: relative;
   top: 25px;
}
.skillset {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.road {
    width: 39%;
    margin: 10px;
}

.work {
    width:80%
}
 .point {
     margin-top: 50px;
 }
.road img, .work img {
   width: 100%;
}
.skillset-list {
    
    flex-basis: 250px;
   
    word-break: keep-all;
    
    flex: 0 1 auto;
    padding: 10px 20px 3px;
    max-width: 250px;
    margin: 20px 2.5rem;
    box-shadow: 0 0 6px -4px;
}


.first {
    width: 50%;
    box-sizing: border-box;
}

.position {
    position: relative;
    top: 20px;
}
.plain {
    padding: 0;
}
.second p {
    position: relative;
    top: 60px;
    float: right;
}
.experience {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
 
  
}
.time  {
    width: 300px;
    box-sizing: border-box;
    margin: 10px;
}
.experience>.time p{
    margin: 0;
}
.bold {
    font-weight: 600;
}
.grey {
    color: #999999;
}
.second img {
    position: relative;
    top: 4px;
    padding: 3px 20px
}
h3, h1 {
    
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 0;
    font-family: 'Work Sans', sans-serif
}
p {
    margin-top: 0;;
    font-family: 'Work Sans', sans-serif;
}
.box p {
    max-width: 550px;
}
.say {
    background: #FF5678;
    color:white;
    font-family: 'Work Sans', sans-serif;
    padding: 15px 50px;
    border-radius: 0.3em;
}
.iconBox {
    position: relative;
    top:6px;
}
.space {
    padding:0 10px;
    width: 20px;
}
.section {
  
    justify-content: center;
    margin-bottom: 50px;
}
.main-bottom {
    margin-bottom: 180px;
}
.pink {
    color:#FF5678;
}

.box:nth-child(1) {
    width: 600px;
}
.box:nth-child(2) {
    width: 400px;
}
/* @media (max-width: 968px){
   
   /* .main {
       flex-wrap: wrap;
   } 
} */
@media(max-width: 930px){
    .box:nth-child(1){
        order:1;
    }
    .main {
        flex-wrap: wrap;
    }
}
